<div class="container mt-5">
  <form
    action=""
    class="d-flex gap-4 mb-5 justify-content-start"
    #f="ngForm"
    (ngSubmit)="searchEvents(f)"
  >
    <div class="form-outline">
      <input
        type="search"
        id="form1"
        class="form-control"
        placeholder="Search..."
        aria-label="Search"
        ngModel
        name="search"
      />
    </div>
    <div class="form-outline">
      <select name="location" ngModel class="form-control">
        <option disabled>Select Location</option>
        <option>Choose location</option>
        <option *ngFor="let location of locations">{{ location.name }}</option>
      </select>
    </div>
    <div class="form-outlne">
      <select name="category" ngModel class="form-control">
        <option disabled>Select Category</option>
        <option>Choose category</option>
        <option *ngFor="let category of categories">{{ category.name }}</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
  <div *ngIf="events.length == 0 && !loading">
    <p class="text-center text-primary">
      {{ error || "No events found. Please try again later." }}
    </p>
  </div>
  <div *ngIf="loading == true">
    <p class="text-center text-primary">Loading...</p>
  </div>
  <div *ngIf="!success && !loading">
    <p class="text-center text-primary">{{ error }}</p>
  </div>
  <div class="row row-cols-4">
    <div class="col mb-5" *ngFor="let event of events">
      <app-event-card [event]="event" [eventID]="event.id"></app-event-card>
    </div>
  </div>
</div>
<!-- <form *ngIf="show">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name of event</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="{{ activeModalEvent.name }}"
      name="name"
      ngModel
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
