<div class="container mt-5">
  <form
    action=""
    class="d-flex gap-4 mb-5 justify-content-start"
    #f="ngForm"
    (ngSubmit)="searchEvents(f)"
  >
    <div class="form-outline">
      <input
        type="search"
        id="form1"
        class="form-control"
        placeholder="Search..."
        aria-label="Search"
        ngModel
        name="search"
      />
    </div>
    <div class="form-outline">
      <select name="location" ngModel class="form-control">
        <option disabled>Select Location</option>
        <option>Choose location</option>
        <option *ngFor="let location of locations">{{ location.name }}</option>
      </select>
    </div>
    <div class="form-outlne">
      <select name="category" ngModel class="form-control">
        <option disabled>Select Category</option>
        <option>Choose category</option>
        <option *ngFor="let category of categories">{{ category.name }}</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
  <div *ngIf="events.length == 0 && !loading">
    <p class="text-center text-primary">
      {{ error || "No events found. Please try again later." }}
    </p>
  </div>
  <div *ngIf="loading == true">
    <p class="text-center text-primary">Loading...</p>
  </div>
  <div *ngIf="!success && !loading">
    <p class="text-center text-primary">{{ error }}</p>
  </div>
  <div class="row row-cols-4">
    <div class="col mb-5" *ngFor="let event of events">
      <app-event-card
        [event]="event"
        [eventID]="event.id"
        (nekiEvent)="showModal(event.id)"
      >
        <button
          type="button"
          class="btn btn-primary"
          style="height: 40px"
          (click)="showModal(event.id)"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          *ngIf="admin"
        >
          Update
        </button></app-event-card
      >
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="modal-title" id="exampleModalLabel">
            {{ activeModalEvent?.name }}
          </h5>
          <p
            class="modal-title text-danger"
            id="exampleModalLabel"
            *ngIf="updateError"
          >
            Please enter information in correct format.
          </p>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closeModal
        ></button>
      </div>
      <div class="modal-body">
        <form #fa="ngForm" (ngSubmit)="updateEvent(fa)">
          <div class="mb-3">
            <label for="exampleInput1" class="form-label">Name</label>
            <input
              type="email"
              class="form-control"
              id="exampleInput1"
              aria-describedby="emailHelp"
              name="name"
              ngModel
              placeholder="{{ activeModalEvent?.name }}"
            />
            <!-- <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div> -->
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Date</label>
            <input
              type="text"
              class="form-control"
              name="date"
              ngModel
              id="exampleInputPassword1"
              placeholder="{{ activeModalEvent?.date }}"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Description</label
            >
            <textarea
              type="text"
              name="description"
              ngModel
              class="form-control"
              id="exampleInputPassword1"
              placeholder="{{ activeModalEvent?.description }}"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Picture Url</label
            >
            <input
              type="text"
              class="form-control"
              name="pictureUrl"
              ngModel
              id="exampleInputPassword1"
              placeholder="{{ activeModalEvent?.pictureUrl }}"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Location</label
            >
            <select name="location" ngModel class="form-control">
              <option disabled>Select Location</option>
              <option>Choose location</option>
              <option
                *ngFor="let location of locations"
                [selected]="location.id == activeModalEvent?.location?.id"
              >
                {{ location.name }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Category</label
            >
            <select name="category" ngModel class="form-control">
              <option disabled>Select Category</option>
              <option>Choose category</option>
              <option
                *ngFor="let category of categories"
                [selected]="category.id == activeModalEvent?.category?.id"
              >
                {{ category.name }}
              </option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
